.s-header-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.s-header-container1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  border-bottom-width: 1px;
}
.s-header-container2 {
  width: 33%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.s-header-text {
  padding: var(--dl-space-space-halfunit);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.s-header-icon {
  width: 24px;
  height: 24px;
}
.s-header-text1 {
  padding: var(--dl-space-space-halfunit);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.s-header-container3 {
  width: 33%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.s-header-albuylogo {
  height: 4rem;
  align-self: center;
}
.s-header-container4 {
  width: 33%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.s-header-button {
  display: flex;
  padding: 0px;
  align-items: center;
  border-width: 0px;
  flex-direction: row;
  background-color: transparent;
}
.s-header-pasted-image {
  height: 2rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
}
.s-header-text2 {
  margin-left: var(--dl-space-space-halfunit);
}
.s-header-container5 {
  display: flex;
  align-self: stretch;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  margin-right: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-end;
  border-left-width: 1px;
}
.s-header-icon2 {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.s-header-icon6 {
  width: 24px;
  height: 24px;
}



















@media(max-width: 991px) {
  .s-header-container2 {
    align-self: stretch;
  }
  .s-header-container3 {
    align-self: stretch;
  }
  .s-header-container4 {
    height: auto;
    align-self: stretch;
  }
}
@media(max-width: 767px) {
  .s-header-container {
    justify-content: space-between;
  }
  .s-header-container1 {
    justify-content: space-between;
  }
  .s-header-container2 {
    width: auto;
  }
  .s-header-text {
    font-size: 18px;
  }
  .s-header-text1 {
    font-size: 18px;
  }
  .s-header-container3 {
    display: none;
  }
  .s-header-albuylogo {
    height: 2rem;
  }
  .s-header-container4 {
    width: auto;
  }
  .s-header-button {
    padding: 0px;
  }
  .s-header-pasted-image {
    height: 1.5rem;
  }
  .s-header-text2 {
    font-size: 18px;
  }
}
@media(max-width: 470px) {
  .s-header-container {
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
    border-bottom-width: 1px;
  }
  .s-header-container2 {
    width: auto;
  }
  .s-header-text {
    font-size: 16px;
  }
  .s-header-text1 {
    font-size: 16px;
  }
  .s-header-container3 {
    width: 30%;
  }
  .s-header-albuylogo {
    width: auto;
    height: 1.5rem;
    margin-left: var(--dl-space-space-halfunit);
  }
  .s-header-container4 {
    width: auto;
  }
  .s-header-pasted-image {
    width: 20px;
    height: 20px;
    display: flex;
  }
  .s-header-text2 {
    font-size: 16px;
  }
  .s-header-container5 {
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .s-header-icon2 {
    width: 20px;
    height: 20px;
  }
  .s-header-icon6 {
    width: 20px;
    height: 20px;
  }
}

.s-discount-promotions-create-new-add-prod-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.s-discount-promotions-create-new-add-prod-container01 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
}
.s-discount-promotions-create-new-add-prod-container02 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  flex-direction: column;
  border-right-width: 1px;
}
.s-discount-promotions-create-new-add-prod-group149 {
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  box-sizing: border-box;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.s-discount-promotions-create-new-add-prod-button {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  font-size: 18px;
  align-items: center;
  border-width: 0px;
  flex-direction: row;
  justify-content: space-between;
}
.s-discount-promotions-create-new-add-prod-text {
  font-style: normal;
  font-weight: 700;
}
.s-discount-promotions-create-new-add-prod-icon {
  width: 24px;
  height: 24px;
}
.s-discount-promotions-create-new-add-prod-text01 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-discount-promotions-create-new-add-prod-text02 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-discount-promotions-create-new-add-prod-text03 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-discount-promotions-create-new-add-prod-text04 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-discount-promotions-create-new-add-prod-text05 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-discount-promotions-create-new-add-prod-text06 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-discount-promotions-create-new-add-prod-text07 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-discount-promotions-create-new-add-prod-group150 {
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  box-sizing: border-box;
  align-items: stretch;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.s-discount-promotions-create-new-add-prod-button01 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  font-size: 18px;
  max-width: auto;
  align-items: center;
  border-width: 0px;
  flex-direction: row;
  justify-content: space-between;
}
.s-discount-promotions-create-new-add-prod-text08 {
  font-style: normal;
  font-weight: 700;
}
.s-discount-promotions-create-new-add-prod-icon02 {
  width: 24px;
  height: 24px;
}
.s-discount-promotions-create-new-add-prod-text09 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-discount-promotions-create-new-add-prod-text10 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-discount-promotions-create-new-add-prod-text11 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-discount-promotions-create-new-add-prod-text12 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-discount-promotions-create-new-add-prod-text13 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-discount-promotions-create-new-add-prod-group151 {
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  box-sizing: border-box;
  align-items: stretch;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.s-discount-promotions-create-new-add-prod-button02 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  font-size: 18px;
  max-width: auto;
  align-items: center;
  border-width: 0px;
  flex-direction: row;
  justify-content: space-between;
}
.s-discount-promotions-create-new-add-prod-text14 {
  font-style: normal;
  font-weight: 700;
}
.s-discount-promotions-create-new-add-prod-icon04 {
  width: 24px;
  height: 24px;
}
.s-discount-promotions-create-new-add-prod-text15 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-discount-promotions-create-new-add-prod-text16 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-discount-promotions-create-new-add-prod-text17 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-discount-promotions-create-new-add-prod-text18 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-discount-promotions-create-new-add-prod-container03 {
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: stretch;
  flex-direction: column;
}
.s-discount-promotions-create-new-add-prod-button03 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  font-size: 18px;
  max-width: auto;
  align-items: center;
  border-width: 0px;
  flex-direction: row;
  justify-content: space-between;
}
.s-discount-promotions-create-new-add-prod-text19 {
  font-style: normal;
  font-weight: 700;
}
.s-discount-promotions-create-new-add-prod-icon06 {
  width: 24px;
  height: 24px;
}
.s-discount-promotions-create-new-add-prod-container04 {
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: stretch;
  flex-direction: column;
}
.s-discount-promotions-create-new-add-prod-button04 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  font-size: 18px;
  max-width: auto;
  align-items: center;
  border-width: 0px;
  flex-direction: row;
  justify-content: space-between;
}
.s-discount-promotions-create-new-add-prod-text20 {
  font-style: normal;
  font-weight: 700;
}
.s-discount-promotions-create-new-add-prod-icon08 {
  width: 24px;
  height: 24px;
}
.s-discount-promotions-create-new-add-prod-group152 {
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  box-sizing: border-box;
  align-items: stretch;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.s-discount-promotions-create-new-add-prod-button05 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  font-size: 18px;
  max-width: auto;
  align-items: center;
  border-width: 0px;
  flex-direction: row;
  justify-content: space-between;
}
.s-discount-promotions-create-new-add-prod-text21 {
  font-style: normal;
  font-weight: 700;
}
.s-discount-promotions-create-new-add-prod-icon10 {
  width: 24px;
  height: 24px;
}
.s-discount-promotions-create-new-add-prod-text22 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-discount-promotions-create-new-add-prod-text23 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-discount-promotions-create-new-add-prod-group153 {
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  box-sizing: border-box;
  align-items: stretch;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.s-discount-promotions-create-new-add-prod-button06 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  font-size: 18px;
  max-width: auto;
  align-items: center;
  border-width: 0px;
  flex-direction: row;
  justify-content: space-between;
}
.s-discount-promotions-create-new-add-prod-text24 {
  font-style: normal;
  font-weight: 700;
}
.s-discount-promotions-create-new-add-prod-icon12 {
  width: 24px;
  height: 24px;
}
.s-discount-promotions-create-new-add-prod-text25 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-discount-promotions-create-new-add-prod-text26 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-discount-promotions-create-new-add-prod-container05 {
  display: none;
  align-items: flex-start;
  flex-direction: row;
}
.s-discount-promotions-create-new-add-prod-icon14 {
  width: 24px;
  height: 24px;
}
.s-discount-promotions-create-new-add-prod-container06 {
  flex: 1;
  width: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  flex-direction: column;
}
.s-discount-promotions-create-new-add-prod-container07 {
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  flex-direction: column;
}
.s-discount-promotions-create-new-add-prod-group126 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-self: flex-start;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  padding-left: 16px;
  padding-bottom: 16px;
  justify-content: space-between;
  border-bottom-width: 1px;
}
.s-discount-promotions-create-new-add-prod-text27 {
  color: rgb(0, 0, 0);
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-discount-promotions-create-new-add-prod-container08 {
  display: flex;
  padding: var(--dl-space-space-unit);
  flex-direction: column;
}
.s-discount-promotions-create-new-add-prod-text28 {
  color: rgb(0, 0, 0);
  width: 100%;
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-discount-promotions-create-new-add-prod-container09 {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.s-discount-promotions-create-new-add-prod-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: space-between;
}
.s-discount-promotions-create-new-add-prod-text29 {
  padding: var(--dl-space-space-halfunit);
}
.s-discount-promotions-create-new-add-prod-select {
  height: auto;
  padding: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
}
.s-discount-promotions-create-new-add-prod-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.s-discount-promotions-create-new-add-prod-container12 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: center;
}
.s-discount-promotions-create-new-add-prod-select1 {
  height: auto;
  padding: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
}
.s-discount-promotions-create-new-add-prod-search-bar {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 15px;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.s-discount-promotions-create-new-add-prod-textinput {
  width: 100%;
  height: 100%;
  padding-top: var(--dl-space-space-halfunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 15px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.s-discount-promotions-create-new-add-prod-searchheader {
  width: 30px;
  height: auto;
  padding: 4px;
  align-self: center;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  border-left-width: 1px;
}
.s-discount-promotions-create-new-add-prod-container13 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-end;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.s-discount-promotions-create-new-add-prod-text30 {
  color: rgb(0, 0, 0);
  width: 100%;
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  padding-top: 0px;
  font-stretch: normal;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: 0px;
  padding-bottom: 0px;
  text-decoration: none;
}
.s-discount-promotions-create-new-add-prod-container14 {
  display: flex;
  align-self: flex-end;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: space-between;
}
.s-discount-promotions-create-new-add-prod-button07 {
  align-self: flex-end;
}
.s-discount-promotions-create-new-add-prod-container15 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  padding-left: 16px;
  flex-direction: column;
  justify-content: center;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.s-discount-promotions-create-new-add-prod-container16 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
}
.s-discount-promotions-create-new-add-prod-container17 {
  flex: 0 0 auto;
  width: var(--dl-size-size-xlarge);
  height: auto;
  display: flex;
  align-items: stretch;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  justify-content: space-between;
}
.s-discount-promotions-create-new-add-prod-text31 {
  width: 100%;
  padding: var(--dl-space-space-halfunit);
  align-self: center;
  text-align: center;
}
.s-discount-promotions-create-new-add-prod-container18 {
  flex: 0 0 auto;
  width: var(--dl-size-size-xlarge);
  height: auto;
  display: flex;
  align-items: stretch;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  justify-content: space-between;
}
.s-discount-promotions-create-new-add-prod-text32 {
  width: 100%;
  padding: var(--dl-space-space-halfunit);
  align-self: center;
  text-align: center;
}
.s-discount-promotions-create-new-add-prod-container19 {
  flex: 0 0 auto;
  width: var(--dl-size-size-xlarge);
  height: auto;
  display: flex;
  align-items: stretch;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  justify-content: space-between;
}
.s-discount-promotions-create-new-add-prod-text33 {
  width: 100%;
  padding: var(--dl-space-space-halfunit);
  align-self: center;
  text-align: center;
}
.s-discount-promotions-create-new-add-prod-container20 {
  flex: 0 0 auto;
  width: var(--dl-size-size-xlarge);
  height: auto;
  display: flex;
  align-items: stretch;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  justify-content: space-between;
}
.s-discount-promotions-create-new-add-prod-text34 {
  width: 100%;
  padding: var(--dl-space-space-halfunit);
  align-self: center;
  text-align: center;
}
.s-discount-promotions-create-new-add-prod-container21 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: flex-end;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.s-discount-promotions-create-new-add-prod-button09 {
  margin-left: var(--dl-space-space-unit);
}
@media(max-width: 991px) {
  .s-discount-promotions-create-new-add-prod-container02 {
    width: auto;
    padding: var(--dl-space-space-halfunit);
  }
  .s-discount-promotions-create-new-add-prod-text {
    min-width: auto;
  }
  .s-discount-promotions-create-new-add-prod-container06 {
    flex: 1;
    width: auto;
    padding: var(--dl-space-space-halfunit);
  }
  .s-discount-promotions-create-new-add-prod-group126 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .s-discount-promotions-create-new-add-prod-text27 {
    font-size: 16px;
  }
  .s-discount-promotions-create-new-add-prod-text28 {
    font-size: 16px;
  }
  .s-discount-promotions-create-new-add-prod-text29 {
    font-size: 14px;
  }
  .s-discount-promotions-create-new-add-prod-search-bar {
    justify-content: space-between;
  }
  .s-discount-promotions-create-new-add-prod-textinput {
    width: 100%;
    border-radius: 15px;
  }
  .s-discount-promotions-create-new-add-prod-text30 {
    font-size: 16px;
  }
  .s-discount-promotions-create-new-add-prod-button07 {
    font-size: 14px;
  }
  .s-discount-promotions-create-new-add-prod-text31 {
    font-size: 14px;
  }
  .s-discount-promotions-create-new-add-prod-text32 {
    font-size: 14px;
  }
  .s-discount-promotions-create-new-add-prod-text33 {
    font-size: 14px;
  }
  .s-discount-promotions-create-new-add-prod-text34 {
    font-size: 14px;
  }
  .s-discount-promotions-create-new-add-prod-container21 {
    margin-top: var(--dl-space-space-unit);
  }
  .s-discount-promotions-create-new-add-prod-button08 {
    font-size: 14px;
  }
  .s-discount-promotions-create-new-add-prod-button09 {
    font-size: 14px;
  }
}
@media(max-width: 767px) {
  .s-discount-promotions-create-new-add-prod-container01 {
    flex-direction: column;
  }
  .s-discount-promotions-create-new-add-prod-container02 {
    display: none;
  }
  .s-discount-promotions-create-new-add-prod-text {
    width: auto;
  }
  .s-discount-promotions-create-new-add-prod-container05 {
    display: flex;
    padding: var(--dl-space-space-unit);
  }
  .s-discount-promotions-create-new-add-prod-group126 {
    align-items: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    justify-content: flex-start;
  }
  .s-discount-promotions-create-new-add-prod-text27 {
    display: none;
    font-size: 20px;
    margin-left: var(--dl-space-space-unit);
  }
  .s-discount-promotions-create-new-add-prod-text28 {
    display: none;
    font-size: 20px;
    margin-left: var(--dl-space-space-unit);
  }
  .s-discount-promotions-create-new-add-prod-text29 {
    font-size: 13px;
  }
  .s-discount-promotions-create-new-add-prod-search-bar {
    height: 100%;
  }
  .s-discount-promotions-create-new-add-prod-textinput {
    width: 100%;
    padding-top: 0px;
    padding-left: var(--dl-space-space-halfunit);
    border-radius: 15px;
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
  }
  .s-discount-promotions-create-new-add-prod-searchheader {
    width: 2rem;
    height: 1.5rem;
  }
  .s-discount-promotions-create-new-add-prod-text30 {
    display: none;
    font-size: 20px;
    margin-left: var(--dl-space-space-unit);
  }
  .s-discount-promotions-create-new-add-prod-text31 {
    font-size: 13px;
  }
  .s-discount-promotions-create-new-add-prod-text32 {
    font-size: 13px;
  }
  .s-discount-promotions-create-new-add-prod-text33 {
    font-size: 13px;
  }
  .s-discount-promotions-create-new-add-prod-text34 {
    font-size: 13px;
  }
  .s-discount-promotions-create-new-add-prod-container21 {
    align-self: flex-end;
  }
}
@media(max-width: 470px) {
  .s-discount-promotions-create-new-add-prod-container07 {
    padding: var(--dl-space-space-halfunit);
    margin-top: var(--dl-space-space-halfunit);
  }
  .s-discount-promotions-create-new-add-prod-text29 {
    padding: var(--dl-space-space-halfunit);
    font-size: 12px;
    text-align: right;
  }
  .s-discount-promotions-create-new-add-prod-search-bar {
    height: 100%;
    margin-left: var(--dl-space-space-unit);
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    margin-right: 0px;
  }
  .s-discount-promotions-create-new-add-prod-textinput {
    width: 100%;
    height: 100%;
    padding: 0px;
    border-radius: 15px;
  }
  .s-discount-promotions-create-new-add-prod-searchheader {
    width: 2rem;
    height: 100%;
  }
  .s-discount-promotions-create-new-add-prod-button07 {
    padding: var(--dl-space-space-halfunit);
    font-size: 12px;
  }
  .s-discount-promotions-create-new-add-prod-text31 {
    padding: var(--dl-space-space-halfunit);
    font-size: 12px;
    text-align: right;
  }
  .s-discount-promotions-create-new-add-prod-text32 {
    padding: var(--dl-space-space-halfunit);
    font-size: 12px;
    text-align: right;
  }
  .s-discount-promotions-create-new-add-prod-text33 {
    padding: var(--dl-space-space-halfunit);
    font-size: 12px;
    text-align: right;
  }
  .s-discount-promotions-create-new-add-prod-text34 {
    padding: var(--dl-space-space-halfunit);
    font-size: 12px;
    text-align: right;
  }
  .s-discount-promotions-create-new-add-prod-button08 {
    padding: var(--dl-space-space-halfunit);
    font-size: 12px;
  }
  .s-discount-promotions-create-new-add-prod-button09 {
    padding: var(--dl-space-space-halfunit);
    font-size: 12px;
  }
}
