.s-header-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.s-header-container1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  border-bottom-width: 1px;
}
.s-header-container2 {
  width: 33%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.s-header-text {
  padding: var(--dl-space-space-halfunit);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.s-header-icon {
  width: 24px;
  height: 24px;
}
.s-header-text1 {
  padding: var(--dl-space-space-halfunit);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.s-header-container3 {
  width: 33%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.s-header-albuylogo {
  height: 4rem;
  align-self: center;
}
.s-header-container4 {
  width: 33%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.s-header-button {
  display: flex;
  padding: 0px;
  align-items: center;
  border-width: 0px;
  flex-direction: row;
  background-color: transparent;
}
.s-header-pasted-image {
  height: 2rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
}
.s-header-text2 {
  margin-left: var(--dl-space-space-halfunit);
}
.s-header-container5 {
  display: flex;
  align-self: stretch;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  margin-right: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-end;
  border-left-width: 1px;
}
.s-header-icon2 {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.s-header-icon6 {
  width: 24px;
  height: 24px;
}



















@media(max-width: 991px) {
  .s-header-container2 {
    align-self: stretch;
  }
  .s-header-container3 {
    align-self: stretch;
  }
  .s-header-container4 {
    height: auto;
    align-self: stretch;
  }
}
@media(max-width: 767px) {
  .s-header-container {
    justify-content: space-between;
  }
  .s-header-container1 {
    justify-content: space-between;
  }
  .s-header-container2 {
    width: auto;
  }
  .s-header-text {
    font-size: 18px;
  }
  .s-header-text1 {
    font-size: 18px;
  }
  .s-header-container3 {
    display: none;
  }
  .s-header-albuylogo {
    height: 2rem;
  }
  .s-header-container4 {
    width: auto;
  }
  .s-header-button {
    padding: 0px;
  }
  .s-header-pasted-image {
    height: 1.5rem;
  }
  .s-header-text2 {
    font-size: 18px;
  }
}
@media(max-width: 470px) {
  .s-header-container {
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
    border-bottom-width: 1px;
  }
  .s-header-container2 {
    width: auto;
  }
  .s-header-text {
    font-size: 16px;
  }
  .s-header-text1 {
    font-size: 16px;
  }
  .s-header-container3 {
    width: 30%;
  }
  .s-header-albuylogo {
    width: auto;
    height: 1.5rem;
    margin-left: var(--dl-space-space-halfunit);
  }
  .s-header-container4 {
    width: auto;
  }
  .s-header-pasted-image {
    width: 20px;
    height: 20px;
    display: flex;
  }
  .s-header-text2 {
    font-size: 16px;
  }
  .s-header-container5 {
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .s-header-icon2 {
    width: 20px;
    height: 20px;
  }
  .s-header-icon6 {
    width: 20px;
    height: 20px;
  }
}

.s-income-details-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.s-income-details-container01 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
}
.s-income-details-container02 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  flex-direction: column;
  border-right-width: 1px;
}
.s-income-details-group149 {
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  box-sizing: border-box;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.s-income-details-button {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  font-size: 18px;
  align-items: center;
  border-width: 0px;
  flex-direction: row;
  justify-content: space-between;
}
.s-income-details-text {
  font-style: normal;
  font-weight: 700;
}
.s-income-details-icon {
  width: 24px;
  height: 24px;
}
.s-income-details-text01 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-income-details-text02 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-income-details-text03 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-income-details-text04 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-income-details-text05 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-income-details-text06 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-income-details-text07 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-income-details-group150 {
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  box-sizing: border-box;
  align-items: stretch;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.s-income-details-button01 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  font-size: 18px;
  max-width: auto;
  align-items: center;
  border-width: 0px;
  flex-direction: row;
  justify-content: space-between;
}
.s-income-details-text08 {
  font-style: normal;
  font-weight: 700;
}
.s-income-details-icon02 {
  width: 24px;
  height: 24px;
}
.s-income-details-text09 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-income-details-text10 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-income-details-text11 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-income-details-text12 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-income-details-text13 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-income-details-group151 {
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  box-sizing: border-box;
  align-items: stretch;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.s-income-details-button02 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  font-size: 18px;
  max-width: auto;
  align-items: center;
  border-width: 0px;
  flex-direction: row;
  justify-content: space-between;
}
.s-income-details-text14 {
  font-style: normal;
  font-weight: 700;
}
.s-income-details-icon04 {
  width: 24px;
  height: 24px;
}
.s-income-details-text15 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-income-details-text16 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-income-details-text17 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-income-details-text18 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-income-details-container03 {
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: stretch;
  flex-direction: column;
}
.s-income-details-button03 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  font-size: 18px;
  max-width: auto;
  align-items: center;
  border-width: 0px;
  flex-direction: row;
  justify-content: space-between;
}
.s-income-details-text19 {
  font-style: normal;
  font-weight: 700;
}
.s-income-details-icon06 {
  width: 24px;
  height: 24px;
}
.s-income-details-container04 {
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: stretch;
  flex-direction: column;
}
.s-income-details-button04 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  font-size: 18px;
  max-width: auto;
  align-items: center;
  border-width: 0px;
  flex-direction: row;
  justify-content: space-between;
}
.s-income-details-text20 {
  font-style: normal;
  font-weight: 700;
}
.s-income-details-icon08 {
  width: 24px;
  height: 24px;
}
.s-income-details-group152 {
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  box-sizing: border-box;
  align-items: stretch;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.s-income-details-button05 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  font-size: 18px;
  max-width: auto;
  align-items: center;
  border-width: 0px;
  flex-direction: row;
  justify-content: space-between;
}
.s-income-details-text21 {
  font-style: normal;
  font-weight: 700;
}
.s-income-details-icon10 {
  width: 24px;
  height: 24px;
}
.s-income-details-text22 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-income-details-text23 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-income-details-group153 {
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  box-sizing: border-box;
  align-items: stretch;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.s-income-details-button06 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  font-size: 18px;
  max-width: auto;
  align-items: center;
  border-width: 0px;
  flex-direction: row;
  justify-content: space-between;
}
.s-income-details-text24 {
  font-style: normal;
  font-weight: 700;
}
.s-income-details-icon12 {
  width: 24px;
  height: 24px;
}
.s-income-details-text25 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-income-details-text26 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-income-details-container05 {
  flex: 1;
  width: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  flex-direction: column;
}
.s-income-details-group126 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-self: flex-start;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  padding-left: 16px;
  justify-content: space-between;
  border-bottom-width: 1px;
}
.s-income-details-container06 {
  display: none;
  align-items: flex-start;
  flex-direction: row;
}
.s-income-details-icon14 {
  width: 24px;
  height: 24px;
}
.s-income-details-button07 {
  display: none;
  padding: 0px;
  font-size: 18px;
  align-self: center;
  align-items: center;
  border-width: 0px;
  flex-direction: row;
  justify-content: space-between;
}
.s-income-details-text28 {
  width: auto;
  font-size: 16px;
  min-width: auto;
  font-style: normal;
  font-weight: 500;
}
.s-income-details-icon16 {
  width: 18px;
  height: 18px;
}
.s-income-details-text29 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-income-details-text30 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-income-details-text31 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-income-details-text32 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-income-details-text33 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-income-details-text34 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-income-details-text35 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-income-details-container07 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.s-income-details-container08 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.s-income-details-text36 {
  padding: var(--dl-space-space-unit);
}
.s-income-details-button08 {
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  flex-direction: row;
}
.s-income-details-icon18 {
  width: 24px;
  height: 24px;
}
.s-income-details-text37 {
  margin-left: var(--dl-space-space-halfunit);
}
.s-income-details-container09 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.s-income-details-container10 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.s-income-details-button10 {
  display: flex;
  font-size: 18px;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.s-income-details-text38 {
  width: auto;
  font-size: 16px;
  min-width: auto;
  font-style: normal;
  font-weight: 500;
}
.s-income-details-icon20 {
  width: 18px;
  height: 18px;
}
.s-income-details-search-bar {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 15px;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.s-income-details-textinput {
  width: 100%;
  height: 100%;
  padding-top: var(--dl-space-space-halfunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 15px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.s-income-details-searchheader {
  width: 30px;
  height: auto;
  padding: 4px;
  align-self: center;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  border-left-width: 1px;
}
.s-income-details-container11 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.s-income-details-button11 {
  margin-left: var(--dl-space-space-unit);
}
.s-income-details-button12 {
  margin-left: var(--dl-space-space-unit);
}
.s-income-details-container12 {
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  flex-direction: column;
}
.s-income-details-text39 {
  padding: var(--dl-space-space-unit);
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 700;
}
.s-income-details-container13 {
  display: flex;
  padding: var(--dl-space-space-unit);
  flex-direction: column;
}
.s-income-details-image {
  width: auto;
  height: var(--dl-size-size-xxlarge);
  align-self: stretch;
  object-fit: cover;
}
@media(max-width: 991px) {
  .s-income-details-container02 {
    padding: var(--dl-space-space-halfunit);
  }
  .s-income-details-text {
    min-width: auto;
  }
  .s-income-details-container05 {
    padding: var(--dl-space-space-halfunit);
  }
  .s-income-details-group126 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .s-income-details-text28 {
    font-size: 14px;
  }
  .s-income-details-text29 {
    font-size: 16px;
  }
  .s-income-details-text30 {
    font-size: 16px;
  }
  .s-income-details-text31 {
    font-size: 16px;
  }
  .s-income-details-text32 {
    font-size: 16px;
  }
  .s-income-details-text33 {
    font-size: 16px;
  }
  .s-income-details-text34 {
    font-size: 16px;
  }
  .s-income-details-text35 {
    font-size: 16px;
  }
  .s-income-details-container07 {
    align-items: flex-end;
    flex-direction: column;
  }
  .s-income-details-text36 {
    font-size: 14px;
  }
  .s-income-details-button08 {
    margin-right: 0px;
  }
  .s-income-details-text37 {
    font-size: 14px;
  }
  .s-income-details-button09 {
    font-size: 14px;
    margin-top: var(--dl-space-space-halfunit);
  }
  .s-income-details-container09 {
    align-items: flex-end;
    flex-direction: column;
  }
  .s-income-details-text38 {
    font-size: 14px;
  }
  .s-income-details-search-bar {
    justify-content: space-between;
  }
  .s-income-details-textinput {
    width: 100%;
    border-radius: 15px;
  }
  .s-income-details-container11 {
    margin-top: var(--dl-space-space-unit);
  }
  .s-income-details-button11 {
    font-size: 14px;
  }
  .s-income-details-button12 {
    font-size: 14px;
  }
}
@media(max-width: 767px) {
  .s-income-details-container02 {
    display: none;
  }
  .s-income-details-text {
    width: auto;
  }
  .s-income-details-group126 {
    align-self: stretch;
    align-items: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    justify-content: space-between;
  }
  .s-income-details-container06 {
    display: flex;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
  }
  .s-income-details-icon14 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .s-income-details-text27 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-left: var(--dl-space-space-halfunit);
  }
  .s-income-details-button07 {
    display: flex;
    padding-top: 0px;
    border-width: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .s-income-details-text28 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
  }
  .s-income-details-text29 {
    display: none;
    font-size: 20px;
    margin-left: var(--dl-space-space-unit);
  }
  .s-income-details-text30 {
    display: none;
  }
  .s-income-details-text31 {
    display: none;
  }
  .s-income-details-text32 {
    display: none;
  }
  .s-income-details-text33 {
    display: none;
  }
  .s-income-details-text34 {
    display: none;
  }
  .s-income-details-text35 {
    display: none;
  }
  .s-income-details-search-bar {
    height: 100%;
  }
  .s-income-details-textinput {
    width: 100%;
    padding-top: 0px;
    padding-left: var(--dl-space-space-halfunit);
    border-radius: 15px;
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
  }
  .s-income-details-searchheader {
    width: 2rem;
    height: 1.5rem;
  }
  .s-income-details-text39 {
    font-size: 20px;
  }
}
@media(max-width: 470px) {
  .s-income-details-group126 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .s-income-details-text27 {
    font-size: 16px;
  }
  .s-income-details-text28 {
    font-size: 16px;
  }
  .s-income-details-container07 {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .s-income-details-text36 {
    padding: var(--dl-space-space-halfunit);
    font-size: 12px;
    text-align: right;
  }
  .s-income-details-icon18 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .s-income-details-text37 {
    font-size: 12px;
  }
  .s-income-details-button09 {
    padding: var(--dl-space-space-halfunit);
    font-size: 12px;
  }
  .s-income-details-container09 {
    padding: var(--dl-space-space-unit);
  }
  .s-income-details-button10 {
    padding: var(--dl-space-space-halfunit);
  }
  .s-income-details-text38 {
    font-size: 12px;
  }
  .s-income-details-search-bar {
    height: 100%;
    margin-left: var(--dl-space-space-unit);
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    margin-right: 0px;
  }
  .s-income-details-textinput {
    width: 100%;
    height: 100%;
    padding: 0px;
    border-radius: 15px;
  }
  .s-income-details-searchheader {
    width: 2rem;
    height: 100%;
  }
  .s-income-details-button11 {
    padding: var(--dl-space-space-halfunit);
    font-size: 12px;
  }
  .s-income-details-button12 {
    padding: var(--dl-space-space-halfunit);
    font-size: 12px;
  }
  .s-income-details-container12 {
    padding: var(--dl-space-space-halfunit);
  }
  .s-income-details-text39 {
    font-size: 18px;
  }
}
